@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.dashboard {
    padding-bottom: 5rem;

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-bottom: 1rem;    
    }
    &__button {
        padding: .5rem 3rem;
        cursor: pointer;
        background-color: v.$negro;
        border: none;
        color: v.$blanco;
        border-radius: 2rem;
    }
    
    &__btnContent {
        display: flex;
        justify-content: center;   
        margin-bottom: 2rem;
    }

    &__btnRegister {
        padding: 2rem 5rem;
        cursor: pointer;
        background-color: v.$dorado;
        font-size: 2rem;
        font-weight: 700;
        border: none;
        border-radius: 1rem;
    }

    &__grid {

    }

    &__total {
        text-align: end;
        // font-size: 2rem;
    }
    &__total-price {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.table {
    // width: 100%;
    max-width: 80rem;
    overflow-x: auto;

    margin-inline: auto;
    border: 1px solid v.$blanco;

    &__head {
        border-bottom: 1px solid v.$blanco;
        min-width: 38rem;

    }
    &__headRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-right: 1rem;
    }
    &__th {
        width: 10rem;
        font-weight: bold;
        font-size: 1.4rem;
        @include m.tablet {
            font-size: 1.6rem;
        }
        text-transform: uppercase;
        // letter-spacing: 2px;

    }

    &__body {
        max-height: 40rem;
        overflow: auto;
        min-width: 38rem;
        // overflow-x: scroll;
    }
    &__trBody {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        border-bottom: 1px solid v.$blanco;
      
    }
    &__td {
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__img {
        width: 5rem;
        margin: 0 auto;
    }

    &__btn {
        border: none;
        background: none;
        cursor: pointer;
    }

    &__delete {
        color: #EF4444;
        width: 3rem;
    }

}

.alert {
    text-align: center;
    width: fit-content;
    margin: 0 auto;

    &__texto {
        // font-weight: 00;
        // background-color: #e2d68cb7;
        // border-radius: 10px;
        // color: #555;
        padding: 1.5rem 4rem;
        font-size: 2rem;
        // letter-spacing: 1px;
    }
}

.modal {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Contenedor para aplicar el estilo personalizado de scrollbar */
.table::-webkit-scrollbar, .table-responsive::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    @include m.tablet {

        width: 1rem; /* Ancho de la scrollbar vertical */
        height: 1rem; /* Altura de la scrollbar horizontal */
    }
}

.table::-webkit-scrollbar-thumb, .table-responsive::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (deslizador) */
    border-radius: 10px; /* Bordes redondeados del deslizador */
    width: .2rem;
}

.table::-webkit-scrollbar-thumb:hover, .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del deslizador al pasar el mouse */
}