@use '../bases/variables' as v; 
@use '../bases/mixins' as m;


.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    
    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        padding-block: 5rem;
    }

    &__menu {
        // display: block;
        margin: 1rem 0 2rem 0;
        position: relative;
        width: 100%;

        @include m.tablet {
            width: unset;
            margin: 0;
        }

    }
    
    &__menu-link {
        width: 4rem;
        margin: 0 auto 1rem auto;
        @include m.tablet{
            display: none;
        }


    }
}

.navegacion {
    background-color: v.$negro;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all .3s ease;

    // position: absolute;
    // bottom: 0;

    @include m.tablet {
        height: fit-content;
        margin-top: 0;
        background-color: unset;
        border-top: none;
        width: unset;
    }
    &__list {
        display: flex;
        flex-direction: column;
        // gap: 4rem;
        text-align: center;

        @include m.tablet {
            flex-direction: row;
        }
    }
    &__item {
        border-bottom: 1px solid v.$blanco;

        &:last-child {
            border-bottom: none;
        }

        @include m.tablet {
            border-bottom: none;
        }
    }
    &__enlace {
        color: v.$blanco;
        transition: color .4s ease;
        // letter-spacing: 1.3px;
        position: relative;
        padding: 1.5rem;
        display: block;
        white-space: nowrap;

        &::before,
        &::after {
            content: '';
            background-color: v.$negro;
            position: absolute;
            width: 0%;
            height: 50%;
            display: block;
            z-index: -1;
            transition: all .6s;
        }

        &::before {
            top: 0;
            left: 0;
        }
        &::after {
            top: 50%;
            right: 0;
        }

        &:hover {
            // color: v.$negro;
            transition: all .6s;
            &::before,
            &::after {
                width: 100%;
            }
        }
    }

    &--activo {

        border-top: 2px solid v.$blanco;
        height: 9.3rem;

        @include m.tablet {
            height: unset;
            border-top: unset;
        }
    }
}