
// Fuentes
$fuentePrincipal:  "Poppins", sans-serif;
// $fuenteHeading: 'Forum', cursive;
// $fuenteCursiva: 'Italianno', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$tabletH: 700px;
$desktop: 1024px;
$escritorio: 1440px;

// Colores
// $beige: #b68f82;
$beige: #c9aca2;
$dorado: #e2d68cb7;
$bgBody: #000;
$negro: #000;
$blanco: #FFFFFF;
